<%= @user.username %>
<%= turbo_frame_tag "cars-#{@pagy.page}", class: 'cars' do %>
  <div class="cars">
    <%= render partial: "cars/car", collection: @cars %>
    <%= turbo_frame_tag "cars-#{@pagy.next}", class: "cars", src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
  </div>
<% end %>
